<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group3.vitamins.project.block.infrastructure.adapter.ChecklistDetailMapper">

    <insert id="insertEmpty">
        INSERT INTO checklist_block (block_id)
        VALUES (#{blockId})
    </insert>

    <select id="findChkBlockIdByBlockId" resultType="java.lang.Long">
        SELECT chk_block_id
        FROM checklist_block
        WHERE block_id = #{blockId}
          AND deleted_at IS NULL
    </select>

    <select id="findItemsByChkBlockIds"
            resultType="com.group3.vitamins.project.block.infrastructure.adapter.ChecklistItemRow">
        SELECT chk_block_id AS chkBlockId,
        chk_id       AS chkId,
        content      AS content,
        is_completed AS isCompleted
        FROM checklist
        WHERE chk_block_id IN
        <foreach item="id" collection="chkBlockIds" open="(" separator="," close=")">#{id}</foreach>
        AND deleted_at IS NULL
        ORDER BY chk_block_id, chk_id
    </select>

</mapper>